@{
    ViewBag.pagename = "forget";
    ViewBag.divclassname = "forgetpassword";
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

<div class="col_1">
    <div class="leftcontent">
        <p>
            <strong>Welcome to the Distributor Development Fund Portal</strong> <span>
                Maximise the
                Impact of your Marketing Spend
            </span>
        </p>
    </div>
    <div class="rightcontent">
        <img src="@appPath/Content/images/slide_img.jpg" style="display: block;">
    </div>
    <div class="clear">
    </div>
</div>
<div class="col_2">
    <div class="pgheader">
        <img src="@appPath/Content/images/redarrow.png">Forgotten Password
    </div>
    @if (ViewBag.Success == null)
    {
       
        <p>
                The portal is provided as a service to pre-registered users. If you are an existing
                customer or supplier, your business representative will contact you with the registration
                information when the functionality that is relevant to your business becomes available.
            </p>
            <p>
                This is a privately owned computing system. It can onlt y be accessed by authorized
                users and is equipped with a security system to prevent and record unauthorized
                access attempts or attempted access. Please be aware that access is subject to the
                Terms and Conditions and any other contract. Unauthorized access or use is a violation
                of the law.
            </p>
            <p>
                If you are an existing customer, please enter information in all of the following
                fields. Your User ID will be emailed to the address we have on file for your account.
            </p>
        <strong>Enter your email address if you forgot your User ID </strong>

        <div><span class="error">@ViewBag.Error</span></div>

        using (Html.BeginForm())
        {
           
            <div class="label">
                Email Address
            </div>
            <div class="inputerror">
                @Html.TextBox("Email", null, new { @class = "fieldStyle_small email required", autocomplete = "off" })
                @Html.ValidationMessage("Email")
               
            </div>
            <a href="javascript:void(0);" id="emailContinue" class="commonBtn">Continue</a>
            <strong>
                Enter your User ID if you forgot
                your Password
            </strong>
            <div class="label">
                Account No.
            </div>
            <div class="inputerror">
                @Html.TextBox("AccountNo", null, new { @class = "fieldStyle_small required", autocomplete = "off" })
                @Html.ValidationMessage("AccountNo")
               
            </div>
            <a href="javascript:void(0);" id="accountNoContinue" class="commonBtn">Continue</a>
        }
    }
    else
    {
        <strong>@ViewBag.Success</strong>
        <p>
            Please <a href="@appPath/Login">Click here</a> to go to login.
        </p>
    }

</div>
@section Script{
    @Scripts.Render("~/forgotpasswordjs")
}