@{
    ViewBag.Title = "ResetPassword";
    ViewBag.pagename = "forget";
    ViewBag.divclassname = "forgetpassword";
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model ForgotPassword

<div class="col_1">
    <div class="leftcontent">
        <p>
            <strong>Welcome to the Distributor Development Fund Portal</strong> <span>
                Maximise the
                Impact of your Marketing Spend
            </span>
        </p>
    </div>
    <div class="rightcontent">
        <img src="@appPath/Content/images/slide_img.jpg" style="display: block;">
    </div>
    <div class="clear">
    </div>
</div>
<div class="col_2">
    <div class="pgheader">
        <img src="@appPath/Content/images/redarrow.png">Reset Password
    </div>

    @if (Model != null)
    {
        using (Html.BeginForm())
        {
            if (ViewBag.Success != null)
            {
                <p>
                    <span class="success">@ViewBag.Success</span>
                    <br><br>
                    <a class="commonBtn" href="@Url.RouteUrl("Login")">Click Here to go to Login</a>
                </p>
            }
            else
            {
                <p>
                    To ensure password security please follow the rules below when selecting or changing
                    your password:<br>
                    <br>
                    Your password must:
                </p>
                <ol>
                    <li>Be at least 8 characters long</li>
                    <li>Contain at least 1 number: (0 to 9)</li>
                    <li>Contain at least 1 lower case letter: (a to z)</li>
                    <li>Contain at least 1 upper case letter: (A to Z)</li>
                </ol>
                <div class="label">
                    New Password
                </div>
                <div class="inputerror">
                    @Html.PasswordFor(m => m.UserAccount.Password, new { @class = "fieldStyle_small required", id = "Password", placeholder = "New Password" })
                    @Html.ValidationMessageFor(m => m.UserAccount.Password)
                </div>
                <div></div>
                <div class="label">
                    Confirm Password
                </div>
                <div class="inputerror">
                    @Html.Password("ConfirmPassword", "", new { @class = "fieldStyle_small required", placeholder = "Confirm Password" })
                    @Html.ValidationMessage("ConfirmPassword")
                </div>
                <br>
                <span style="color:red;" class="ResetPassword-error">@ViewBag.Error</span>
                <br>
                <br />
                <a class="commonBtn" href="javascript:void(0)" id="submit_btn">Submit</a>
                <a class="commonBtn" href="@Url.RouteUrl("Login")">Cancel</a>
                @Html.HiddenFor(m => m.UserAccount.GUID)
                @Html.HiddenFor(m => m.UniqueId)
            }
        }
    }
    else
    {
        <span class="ResetPassword-error">@ViewBag.Error</span>
        <br><br>
        <a class="commonBtn" href="@Url.RouteUrl("Login")">Click Here to go to Login</a>
    }
</div>

@section Script{
    @Scripts.Render("~/resetpasswordjs")
}


